
body {
    background-color: #202342;
    font-family: 'Josefin Sans', sans-serif;
}
.header{
  position: relative;
  display: flex;
}
.contaner{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.img{
  max-width: 800px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.ProjectList {
  position: absolute;
  top: 20vh;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  max-width: 800px;
  min-width: 200px;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;   
}

@media screen and (max-width: 600px) {
  .ProjectList{
    max-width: 800px;
    top: 10vh;
  font-size: 2rem;
  }
}
@media screen and (max-width: 300px) {
  .ProjectList{
    top: 8vh;
  font-size: 1rem;
  }
}
.contaner_ul{
  display: flex;
  justify-content: center;
}
.UserList{
  color: #202342;
  background-color: #FF8F00;
  width: fit-content;
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 2.5rem;
  border-radius: 50px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}
@media screen and (max-width: 600px) {
  .UserList{
  font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .project-continer{
    grid-template-columns: 33% 33% 33%;
  }
}
@media (max-width: 900px) {
  .project-continer{
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 500px) {
    .project-continer{
      grid-template-columns: 100%;
    }
    .card:hover{
      transition: 1s; 
      transform: scale(100%);
      
      z-index: 1;
      box-shadow: 10px 10px 10px  #20234272;
    }
  }



.project-continer {
  grid-gap: 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  padding: 1rem;
  /* change width here */
  /* max-width: 100%; */
  align-items: center;
  max-width: 100%;
  font-family: var(--font-sans);
}


@media (max-width: 1000px) {
  .project-continer{
    grid-template-columns: 33% 33% 33%;
  }
}
@media (max-width: 900px) {
  .project-continer{
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 500px) {
    .project-continer{
      grid-template-columns: 100%;
    }
    .card:hover{
      transition: 1s; 
      transform: scale(100%);
      /* background-size: 160%;  */
      z-index: 1;
      box-shadow: 10px 10px 10px  #20234272;
    }
  }


