
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,600;1,700&display=swap');

.head{ color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
    position: relative;
}
.title{
    color: black;
    background-color: rgba(240, 248, 255, 0);

}
.D_head{ 
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 4rem;
   
}
.D_center{  
    width: auto;
    color: rgb(249, 246, 246);
    background-color: rgba(0, 0, 0, 0.552);
}
.D_title{ 
    text-align: center;
    font-family: Century Gothic;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    left: 0px;
    height:auto;
    width:auto;
}
.D_contaner{ 
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.D_paragraphTitle{ 
    color: rgb(4, 4, 4);
    align-self: center;
    max-width: 700px;
}

.D_paragraph{
    color: rgb(10, 10, 10);
align-self: center;
max-width: 700px;
}
